<div class="w-full text-center">
    <p><%= Date.today.strftime("%A, %B %d") %> </p>
    <img src="http://openweathermap.org/img/wn/<%= @data["weather"].first["icon"]%>@2x.png"/>
    <p><%= @data["weather"].first["main"] %></p>
    <p><%= @data["weather"].first["description"] %></p>
    <p><%= @data["main"]["temp"] %> Celsius</p>
</div>